
.library_mapping.xml
.project
301_Lab3/.settings/com.sigasi.hdt.verilog.version.prefs
301_Lab3/transcript
Lab1/.settings/org.eclipse.core.resources.prefs
Lab1/transcript
Lab1/vsim.wlf
Lab2/transcript
Lab2/vsim.wlf
Lab2/transcript
Lab2/transcript
Lab2/ALU/transcript
Lab2/ALU/vsim.wlf
._.DS_Store
Lab2/.DS_Store
.DS_Store
Lab2/wlft1a1a1j
Lab2/wlftkwh167
Lab2/wlftet64qk
